.order__history__header {
  background-color: white;
  padding: 10px 0;
  box-shadow: 0px 5px 10px -2px #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__history__body {
  max-width: 1129px;
  padding: 20px 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
