h2 {
  margin-top: 0;
}

.checkout {
  max-width: 1129px;
  padding: 20px 10px;
  margin: auto;
}

.checkout__total {
  /* background-color: #e4f1f9; */
  padding: 20px;
  max-width: 878px;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  box-shadow: rgb(6 22 33 / 20%) 0px 2px 6px;
}
.checkout__total__info {
  flex: 0.9;
  border-right: 1px solid #888;
  padding: 20px;
  padding-right: 40px;
}
.all__products__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.delivery__fee__price {
  display: flex;
  justify-content: space-between;
}
.checkout__total__price {
  padding: 20px;
  text-align: center;
  flex: 0.3;
}
button {
  padding: 10px 20px;
  width: 80%;
  border: none;
  background-color: #5a5ae9;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
button:hover {
  background-color: #191999;
}
