.order__item {
  display: flex;
  background-color: brown;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 1px 5px #e5e5e5;
  background-color: white;
  margin-bottom: 10px;
  padding: 0 25px;
}
.item__image {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
}

.item__image__1 {
  width: 100%;
  display: block;
  z-index: 3;
}

.item__image__2 {
  position: absolute;
  height: 30px;
  margin-top: 15px;
  display: block;
  margin-left: -10px;
  z-index: 4;
}

.item__image__3 {
  position: absolute;
  height: 20px;
  margin-top: 5px;
  margin-left: 15px;
  display: block;
  z-index: 5;
  color: greenyellow;
  font-size: 36px;
}

.item__name {
  /* margin-left: 20px; */
  margin: 0 10px;
  width: 250px;
  height: auto;
  text-align: center;
}
.item__date {
  width: 100px;
  /* margin-left: 20px; */
}
.item__total {
  /* margin-left: 20px; */
  width: 80px;
}
.item__id {
  width: 240px;
}
