.message__box {
  /* width: 100%; */
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
  text-align: center;
}

.alert-error {
  color: #ee2525;
  background-color: #fac6c6e0;
  text-align: center;
}
