/* .swiper-container {
  max-width: 400px;
} */
.carousel .slider-wrapper.axis-horizontal .slider .slide {
  background: white;
}
.carousel .slide .product__image__small {
  max-width: 550px;
}
ul {
  padding: 0;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 1px solid #333;
  border-radius: 10px;
}
.carousel .thumb.selected,
.carousel .thumb {
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

/* .swiper-container-vertical .swiper-button-next,
.swiper-button-prev {
  left: 50%;
  transform: rotate(90deg);
  transform-origin: left center;
}

.swiper-container-vertical .swiper-button-prev {
  top: 10px;
  margin-left: 40%;
  padding: 10px;
  background-color: blueviolet;
}

.swiper-container-vertical .swiper-button-next {
  top: auto;
  bottom: 10px;
  padding: 10px;
  background-color: blueviolet;
} */
/* .product__details .swiper-container {
  max-width: 400px;

} */
.swiper-slide {
  text-align: center;
}
.product__details__container {
  max-width: 1129px;
  margin: auto;
  padding-top: 15px;
  margin-bottom: 20px;
}
.product__details {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 5px #e5e5e5;
  background-color: white;
  /* background-image: url("https://st2.depositphotos.com/1003149/10542/v/950/depositphotos_105423882-stock-illustration-technology-background-green-futuristic-abstract.jpg");
  background-size: cover; */
  border-radius: 20px;
  width: 100%;
}

.product__details__header {
  padding: 0 20px;
  padding-top: 20px;
}
.product__details__header > h2 {
  margin: 0;
  border-bottom: 1px solid darkgray;
  padding-bottom: 10px;
}
.product__details__body {
  display: flex;
  padding: 10px 40px;
}

.product__details__body__left__side {
  display: flex;
  /* flex-direction: column; */
  /* background-color: lightcyan; */
  flex: 0.8;
  /* max-width: 400px; */
  /* max-height: 400px; */
  align-items: center;
}
.product__details__body__left__side .swiper-container {
  /* max-width: 500px; */
  width: 100%;
}

:root {
  --swiper-theme-color: black;
}

.swiper__loop__roll .swiper-container-vertical .swiper-pagination-bullets {
  left: 5px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
  width: 10px;
}

.swiper__loop__roll .swiper-wrapper {
  /* padding: 60px 0; */
  width: 120px;
  height: 100%;
}

.swiper__loop__roll .swiper-container-vertical .swiper-button-next {
  /* left: 50%; */
  transform: rotate(90deg);
  top: auto;
  bottom: -50px;
  z-index: 20;
  left: 27%;
  background-color: blueviolet;
  padding: 10px;

  /* transform-origin: center; */
}

.swiper__loop__roll .swiper-container-vertical .swiper-button-prev {
  /* left: 50%; */
  transform: rotate(90deg);
  top: 10px;
  z-index: 20;
  left: 27%;
  background-color: blueviolet;
  padding: 10px;
  position: absolute;

  /* transform-origin: center; */
}

.swiper__loop__roll .product__image {
  max-width: 150px;
}

.product__image {
  max-width: 500px;
  /* margin: 0 auto; */
}

.product__image__small {
  max-width: 70px;
  /* outline: 2px solid black; */
  /* object-fit: cover; */
  cursor: pointer;
}

.product__details__body__center__side {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  flex: 0.4;
}

.product__details__body__right__side {
  display: flex;
  flex-direction: column;
  /* background-color: lightcoral; */
  /* flex: 0.4; */
  padding: 35px 0;
  padding-left: 100px;
  /* width: 100%; */
  width: 100%;
}

.product__cpu,
.product__memory,
.product__video,
.product__storage {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
  height: 50px;
}

.product__specification__image {
  width: 50px;
}

#cpu {
  width: 40px;
  margin-left: 5px;
}

#memory {
  transform: rotate(90deg);
}
.product__cpu > h4 {
  margin-left: 27px;
}
.product__memory > h4 {
  margin-left: 20px;
}

.product__video > h4 {
  margin-left: 20px;
}
.product__storage > h4 {
  margin-left: 20px;
}
.product__buy {
  /* display: flex; */
  align-items: center;
  margin-top: 10px;
}
.product__buy > span {
  font-size: 48px;
  margin-left: 10%;
}

.product__buy > button {
  margin-top: 10px;
  background: #2997ce;
  color: white;
  font-size: 16px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__buy > button:hover {
  background-color: #1f7099;
}
