.successfullyPlacedOrder {
  max-width: 1100px;
  margin: auto;
  padding: 20px 0;
  height: 590px;
}
.card {
  width: 400px;
  /* height: 200px; */
  background-color: white;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 400px;
  box-shadow: rgb(6 22 33 / 20%) 0px 2px 6px;
  border-radius: 10px;
  padding: 20px 0;
}
.circleIcon {
  margin: auto;
  /* margin-top: 15px; */
}
.circleIcon > svg {
  width: 90px;
  height: 90px;
  color: #82ce34;
}
h3 {
  text-align: center;
  color: rgb(63, 63, 63);
}
.card > a {
  text-decoration: none;
  width: 130px;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  color: white;
  background-color: #368fe9;
  margin-top: 10px;
}
.card > a:hover {
  background-color: #295a96;
}
