.image__slider__s {
  margin: 10px auto;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.4s;
}
.image__slider__s:hover {
  opacity: 0.8;
}
.image__slider__s .carousel.carousel-slider {
  border-radius: 10px;
  max-height: 188px;
}

.image__slider__s .carousel .slider-wrapper.axis-horizontal .slider .slide img {
  height: 100%;
  object-fit: cover;
}
